*.iws
*.ids
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
web-app/WEB-INF/tld/c.tld
web-app/WEB-INF/tld/fmt.tld

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

# Itellij Idea Workspace
.idea/dictionaries/*
.idea/libraries/*
.idea/workspace.xml
.idea/misc.xml
.idea/gradle_settings2_config.xml

# Gradle files
.gradle/*
/build/